.panel-title {
  color: black;
}

#blueheading1{
  background-color: #cedff2;
}
#bluefull1{
  background-color: #f5faff;
}

#blueheading2{
  background-color: #cedff2;
}
#bluefull2{
  background-color: #f5faff;
}
#globe{
  float:left;
  max-width: 10%;
}
#tabs{
  float:none;
  text-align: bottom;
}

#navbar1{
  float: left;

}

#listyle{
  list-style-type: none;
}

.bborder{
  border-bottom: 1px solid grey;
}
